
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Samalie Piwan">
    <title>Exploring Maternal Mortality Rate</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    </style>
    <link href="styles/custom.css" rel="stylesheet">
  </head>
  <body>
	<div>
		<div id="cover">
			<div class="cover-container d-flex w-100 h-100 p-3 flex-column">
				<div class="card card-custom mt-3 p-3">
					<h1 class="title-bold">Exploring Maternal Mortality Rate</h1>
				</div>
				<div class="card card-custom mt-3 p-3">
					<p class="lead">Maternal mortality rate, often measured as the number of maternal deaths per 100,000 live births, is a critical indicator of the health and well-being of mothers during pregnancy, childbirth, and the postpartum period. Monitoring and addressing maternal mortality are essential components of global efforts to improve maternal health, reduce health disparities, and ensure access to quality healthcare for women worldwide.</p>
				</div>
			</div>
		</div>
		<div class="p-5">
			<div id="background" class="my-3">
				<h3 class="title-blue">Background</h3>

			</div>

			<div id="analysis" class="analysis my-3">
				<h3 class="title-blue">Analysis Results</h3>
				<iframe  width="100%" height="600" frameborder="0" scrolling="no"
				src ="../exports/maternal_mortality_gdp.html">
			</div>

		</div>
		<footer class="text-white p-5">
			<h3 class="text-white">References</h3>
			<ol>
				<li class="list-group-item">An item</li>
				<li class="list-group-item">A second item</li>
				<li class="list-group-item">A third item</li>
				<li class="list-group-item">A fourth item</li>
				<li class="list-group-item">And a fifth one</li>
			</ol>
			<p class="lead">Designed and Prepared By Samalie Piwan</p>
		</footer>
	</div>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </body>
</html>
